body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav ul {
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: gray;
  flex-flow: row wrap;
}

nav ul li {
  float: center;
  padding: 10px 5px;
}

nav ul li a {
  width: 100px;
  display: inline-block;
  padding: 15px;
  background-color: lightgray;
  text-decoration: none;
}

nav ul li a:visited {
  color: black;
}

nav ul li a:hover {
  background-color: darkgray;
}

.staff-card {
  border: black 1px solid;
  min-width: 180px;
  min-height: 180px;
  margin: 20px;
  background-color: lightgray;
  padding: 10px;
}

.staff-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.staff-email {
  font-size: 0.9em;
}

.logged-in-account {
  position: absolute;
  margin: 10px;
}